*{
    margin: 0;
    padding: 0;
}
/* welcome */
.modau{
    background-color: whitesmoke;
}
.gioithieu{
    list-style: none;
    display: flex;
}
 a{
    font-size: 14px;
    text-decoration: none;
    color: gray;
}
.modau li{
    border: 1px solid white;
    text-align: center;
    padding: 0 10px;
   
}
.trai{
    width:500px;
    height: 30px;
}
.start-left{
    display: flex;
    width: 900px;
    
}
.start-right{
    display: flex;
    margin: 0 33%;
}
.start-right li{
    width: 100px;
    height:30px;
}
.start-right li a:hover {
    /* background-color: red; */
    color: red;
}

/* logo+icon */
.slogan{
    margin: 0 2%;
}

/* banner */
/* .banner img{
    width: 100%;
} */

/* menu đa câps */
.root>li {
    list-style: none;
    float: left;
    position: relative;
    display: block;
    z-index: 99;
}

.root>li>a {
    text-decoration: none;
    color: white;
    padding: 0px 15px 0px 15px;
    line-height: 50px;
    display: block;
    font-weight: bold;
}

.root>li>a:hover {
    background-color: yellowgreen;
    color: red;
    transform: ease in 0.36s;
}

.menu_web {
    width: 100%;
    height: 50px;
    background-color: #2e3553;
    margin: 0px auto;
}

.submenu {
    width: 200px;
    min-height: 80px;
    background-color: #000000;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.submenu li {
    list-style: none;
}

.submenu li a {
    text-transform: none;
    text-decoration: none;
    color: snow;
    display: block;
    /* border: 1px solid #ccc; */
    line-height: 40px;
    text-indent: 12px;
}

.root>li:hover .submenu {
    display: block;
    background-color: #2e3553;
    color: white;
    transform: ease in 0.35s;

}

.submenu li a:hover {
    display: block;
    background-color: yellowgreen;
    color: red;
    transform: ease in 35s;
}


.section-title>a{
    text-decoration: none;
    box-shadow: 0 3px tomato;
    padding: 4px;
    color: black;
}
.navbar button{
    border: 5px solid white;
}
.navbar{
    justify-content: center;
    text-align: center;
}
/* tabs */
.nav-tabs .nav-link.active {
    background-color: red;
    color: white;
   
    
}
.nav-tabs .nav-link{
    background-color: white;
    color: red;
    border: 1px solid red;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* .hotline-email{
    width: 300px auto;
} */


/* Sản phẩm bán chạy */

.section-title h4{
    width: 220px;
    border-bottom: 3px solid red;
}
.regular .img{
    margin: 13px;

}
.dvt{
    display: flex;
}

/* footer  */
footer{
    width: 100%;
    height: 400px;
    background-color: #2e3553;
}
.footer-wrapper{
    display: flex;
}

